# Python
__pycache__/
*.py[cod]
*.so
venv/
.venv/

# 数据（太大，不纳入 git）
data/processed/
data/*.parquet
data/*.csv

# 模型输出
models/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
.DS_Store

# 数据分包（不上传 git，用 Release）
data_chunks/

# 隐私文件
resume*

*.zip
